
body{
    font-family: 'Pushster', cursive;
    margin: 0;
}
.wctext{
    color: dimgrey;
}
.name{
    color: gold;
}
section{
    display: flex;
}
h1{
    font-size: 50px;
}
.text{
    width: 40%;
    padding: 120px;
    font-size: 24px;
}
.myphoto img{
  padding-top: 2%;
  width: 735px;
  height: 729px;
}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    padding: 10px 40px;
    border-radius: 9px;
   
}
.top_banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream_aria{
    margin-top: 7%;
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.img_2nd{
    width: 50%;
    padding-left:10% ;
}
.deeam_text{
    width: 50%;
    font-size:24px ;
}
p{color: rgb(48, 48, 48);
padding-right: 5%;}
.dwnbutton{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    padding: 10px 40px;
    border-radius: 9px;
    font-size: 18px;
}
.experience{
    display: flex;

}
.experience_text{
    width: 50%;
    margin-top: 10%;
}