
body{
    font-family: 'Pushster', cursive;
    margin: 0;
}
.wctext{
    color: dimgrey;
}
.name{
    color: gold;
}
section{
    display: flex;
}
h1{
    font-size: 50px;
}
.text{
    width: 40%;
    padding: 120px;
}
.myphoto img{
  padding-top: 2%;
  width: 735px;
  height: 729px;
}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    padding: 10px 40px;
    border-radius: 9px;
   
}
.top_banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}